<style>
.banner-h5 {
    position: relative;
    border-bottom: 10px solid #f5f5f5;
    background: #fff;
}
.banner-h5__list {
    padding: 13px 13px 0px;
}

.banner-h5__list > div {
    margin: 0 -3px -3px;
    overflow: hidden;
}

.banner-h5__list li {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 3px;
    box-sizing: border-box;
}

.banner-h5__cover {
    position: relative;
    padding-bottom: 60.6%;
    border: 1px solid #f0f0f0;
    border-radius: 1px;
}

.banner-h5__cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1px;
}
</style>
<section class="banner-h5">
	<div class="channel-h5__header">
		<p class="channel-h5__title">
			精选专题<i>热</i>
		</p>
	</div>
	<ul class="banner-h5__list">
		<div>
			<li>
				<div class="banner-h5__cover" data-href="#page=topic&amp;type=fiction&amp;id=11527" da="index.6.n.0" expose="">
					<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01nJ9Q4nQxo/kL8SEcbMJ6rfo1.jpg">
				</div>
			</li>
			<li>
				<div class="banner-h5__cover" data-href="#page=topic&amp;type=fiction&amp;id=11695" da="index.6.n.1" expose="">
					<img class="cover" src="http://t1.market.xiaomi.com/thumbnail/jpeg/l640/Duokan/0bda584fca7424d18261583550ecbbf9c8b6d0b59?">
				</div>
			</li>
		</div>
	</ul>
	<a href="/page-pic" class="channel-group__footer">更多精选专题&gt;&gt;</a>
</section>